<div class="form-group">
    <label for="fname">First name</label>
    <input type="text" id="fname">
</div>
<div class="form-group">
    <label for="lname">Last name</label>
    <input type="text" id="lname">
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email">
</div>
<div class="form-group">
    <label for="contact">Contact</label>
    <input type="text" id="contact">
</div>
<div class="text-right">
    <button class="btn btn-primary" (click)="onstudentAdd()">addStudent</button>
</div>