<!-- ############## lecture 11 (3) ########### -->

<div class="form-group">
    <label for="productname">Product Name</label>
    <input type="text" #ProductName id="productname" class="form-control">
</div>
<div class="form-group">
    <label for="productdescription">Product Description</label>
    <input type="text" #ProductDes id="productdescription" class="form-control">
</div>
<div class="form-group">
    <button class="btn btn-primary mr-4" (click)="onProdadD('Product')">product is added</button>
    <button class="btn btn-primary" (click)="onProdadD('Catlog')">Catlog is added</button>
</div>